.page {
  background-image: url("/assets/img/background-image.svg");
  background-size: 100%;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0px;
}

.titleArea {
  display: flex;
  gap: 19px;
}

.footer {
  gap: 16px;

  &,
  a {
    display: flex;
  }

  a {
    cursor: pointer;
    gap: 5px;
    color: #14ea6a;

    &:hover {
      transition: 0.1s;
      filter: brightness(1.3);
    }
  }

  h2 {
    font-size: 16px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;

  h3 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}
